@import '../../styles/index.scss';

.Button {
  @include borders();
  @include button;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.visible {
    border-color: #7b7b7b;
    border-width: 1px;
  }
  span {
    margin-left: 2px;
    font-size: 12px;
  }
}
