@mixin borders($left-top: white, $bottom-right: #7b7b7b) {
  border-bottom-color: $bottom-right;
  border-left-color: $left-top;
  border-right-color: $bottom-right;
  border-top-color: $left-top;
  border-style: solid;
  border-width: 4px;
}

@mixin button($left-top: #7b7b7b, $bottom-right: white) {
  &:active {
    border-bottom-color: $bottom-right;
    border-left-color: $left-top;
    border-right-color: $bottom-right;
    border-top-color: $left-top;
  }
}

/*
@mixin button {
  &:active {
    border-bottom-color: white;
    border-left-color: #7b7b7b;
    border-right-color: white;
    border-top-color: #7b7b7b;
  }
}
*/
