@import '../../styles/index.scss';

.App {
  @include borders(white, #999);
  background-color: #c2c2c2;
  padding: 16px;
}

.Header {
  @include borders(#7b7b7b, white);
  background-color: #c0c0c0;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Body {
  @include borders(#7b7b7b, white);
  margin-top: 16px;
  background-color: #c0c0c0;
  padding: 10px 12px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.Face {
  @include borders();
  @include button;
  width: 52px;
  height: 52px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
