@import '../../styles/index.scss';

// .LevelButton {
//   // @include borders();
// }

// .Level {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px;
//   margin-top: 5px;
// }

.LevelButton {
  @include button;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-width: 4px;
}

.Level {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
