@import '../../styles/index.scss';
@import '../../index.scss';

.LevelButton {
  color: var(--text-primary);
  background-color: var(--background);
  @include borders(var(--border-top), var(--border-bottom));
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-width: 4px;
  padding: 5px;
  margin: 5px;
}

.Level {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-between;
}
